# Python - 3

## Agenda:
- input
- output
- Control Flow (advance)
- Loops

### Output

In [1]:
print("hello")

hello

In [2]:
var_1 = "Hello"

In [3]:
print(var_1)

Hello

In [4]:
print(var_1, "World", "space")

Hello World space

In [5]:
print("hello_world")
print("hello_world")

hello_world
hello_world

In [14]:
print("hello_world", end='--') #hello_world--
print("hello_world") #hello_world--hello_world

hello_world--hello_world

In [10]:
print("hello")
print("hello")

hello
hello

In [11]:
print("hello", end='')
print("hello")

hellohello

In [12]:
print("hello", end=' ')
print("hello")

hello hello

In [16]:
# end --> what to print at the very end
print("hello", end='\n')
print("hello")

hello
hello

In [17]:
# sep --> separator, what to print between multiple values
print(var_1, "World", "space", sep='---')

Hello---World---space

In [18]:
print(var_1, "World", "space", sep=',')

Hello,World,space

In [19]:
print(var_1, "World", "space", sep=', ')

Hello, World, space

In [20]:
print("hello_world", end='\n\n\n')
print("hello_world")

hello_world


hello_world

### Input

In [21]:
name = input("Enter your name: ")

In [22]:
print(name)

Rubina Das

### Control Flow (advance)

In [26]:
# Problem Statement
# we will ask user, the amount they want to withdraw from the bank
# if amount is smaller than balance we will say sufficient funds
# else insufficient funds

balance = 1000
request = int(input("Enter amount to withdraw : "))

if request < balance:
    print("Sufficient balance")
else:
    print("Insufficient balance")

Sufficient balance

In [43]:
# nested if-else

# problem statement --> based on user role, we want to give them access to google sheet
# adding condition --> only if user is authenticated we will check their access

# admin : delete, edit, view
# editor : edit, view
# viewer : view


is_user_authenticated = True # True/False

print(is_user_authenticated)

if is_user_authenticated:
    print("User is Authenticated !")
    user_role = input("Enter your role (admin, editor, viewer) : ")

    if user_role == "admin":
        print("Full access granted : Delete, Edit, View")
    elif user_role == "editor":
        print("Limited access : Edit, View")
    elif user_role == "viewer":
        print("Restricted access : View Only")
    else:
        print("Invalid Input!!!")
        print("Please enter any of these values : admin, editor, viewer")
else:
    print("Please Login first !")

True
User is Authenticated !
Invalid Input!!!
Please enter any of these values : admin, editor, viewer

In [44]:
is_user_authenticated = False # True/False

print(is_user_authenticated)

if is_user_authenticated:
    print("User is Authenticated !")
    user_role = input("Enter your role (admin, editor, viewer) : ")

    if user_role == "admin":
        print("Full access granted : Delete, Edit, View")
    elif user_role == "editor":
        print("Limited access : Edit, View")
    elif user_role == "viewer":
        print("Restricted access : View Only")
    else:
        print("Invalid Input!!!")
        print("Please enter any of these values : admin, editor, viewer")
else:
    print("Please Login first !")

False
Please Login first !

### Loops

#### for loop

In [46]:
table_of = int(input("Please enter the number for which you " \
"want the table to be displayed : "))
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in number_list:
    print(table_of, "x", number, "=", (table_of * number))

89 x 1 = 89
89 x 2 = 178
89 x 3 = 267
89 x 4 = 356
89 x 5 = 445
89 x 6 = 534
89 x 7 = 623
89 x 8 = 712
89 x 9 = 801
89 x 10 = 890

In [47]:
table_of = int(input("Please enter the number for which you " \
"want the table to be displayed : "))

for i in range(1, 101):
    print(table_of, "x", i, "=", (table_of * i))

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450
45 x 11 = 495
45 x 12 = 540
45 x 13 = 585
45 x 14 = 630
45 x 15 = 675
45 x 16 = 720
45 x 17 = 765
45 x 18 = 810
45 x 19 = 855
45 x 20 = 900
45 x 21 = 945
45 x 22 = 990
45 x 23 = 1035
45 x 24 = 1080
45 x 25 = 1125
45 x 26 = 1170
45 x 27 = 1215
45 x 28 = 1260
45 x 29 = 1305
45 x 30 = 1350
45 x 31 = 1395
45 x 32 = 1440
45 x 33 = 1485
45 x 34 = 1530
45 x 35 = 1575
45 x 36 = 1620
45 x 37 = 1665
45 x 38 = 1710
45 x 39 = 1755
45 x 40 = 1800
45 x 41 = 1845
45 x 42 = 1890
45 x 43 = 1935
45 x 44 = 1980
45 x 45 = 2025
45 x 46 = 2070
45 x 47 = 2115
45 x 48 = 2160
45 x 49 = 2205
45 x 50 = 2250
45 x 51 = 2295
45 x 52 = 2340
45 x 53 = 2385
45 x 54 = 2430
45 x 55 = 2475
45 x 56 = 2520
45 x 57 = 2565
45 x 58 = 2610
45 x 59 = 2655
45 x 60 = 2700
45 x 61 = 2745
45 x 62 = 2790
45 x 63 = 2835
45 x 64 = 2880
45 x 65 = 2925
45 x 66 = 2970
45 x 67 = 3015
45 x 68 = 3060
45 x 69 = 3105
45 x 70 = 3150
45 x 71 = 3195
45 x 72 = 3240
45 x 73 = 3285
45 x 74 = 3330
45 x 75 = 3375
45 x 76 = 3420
45 x 77 = 3465
45 x 78 = 3510
45 x 79 = 3555
45 x 80 = 3600
45 x 81 = 3645
45 x 82 = 3690
45 x 83 = 3735
45 x 84 = 3780
45 x 85 = 3825
45 x 86 = 3870
45 x 87 = 3915
45 x 88 = 3960
45 x 89 = 4005
45 x 90 = 4050
45 x 91 = 4095
45 x 92 = 4140
45 x 93 = 4185
45 x 94 = 4230
45 x 95 = 4275
45 x 96 = 4320
45 x 97 = 4365
45 x 98 = 4410
45 x 99 = 4455
45 x 100 = 4500

In [48]:
table_of = int(input("Please enter the number for which you " \
"want the table to be displayed : "))

for i in range(1, 51, 2):
    print(table_of, "x", i, "=", (table_of * i))

16 x 1 = 16
16 x 3 = 48
16 x 5 = 80
16 x 7 = 112
16 x 9 = 144
16 x 11 = 176
16 x 13 = 208
16 x 15 = 240
16 x 17 = 272
16 x 19 = 304
16 x 21 = 336
16 x 23 = 368
16 x 25 = 400
16 x 27 = 432
16 x 29 = 464
16 x 31 = 496
16 x 33 = 528
16 x 35 = 560
16 x 37 = 592
16 x 39 = 624
16 x 41 = 656
16 x 43 = 688
16 x 45 = 720
16 x 47 = 752
16 x 49 = 784

In [50]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [52]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [53]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [54]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [58]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [59]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

In [60]:
for i in range(9, 0, -2):
    print(i)

9
7
5
3
1

In [61]:
for char in "Data Science":
    print(char)

D
a
t
a

S
c
i
e
n
c
e

In [62]:
# if wednesday, send an email for booster class
# else : don't send mail

days_of_week = ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"]

for day in days_of_week:
    if day == "wednesday":
        print("send an email for booster_class")

send an email for booster_class