# Python-1

## Agenda:
- Tools Walkthrough
- Environment Setup
- Notebook
    - Variables
    - Data Types
    - Operators
- Script and Notebook Execution

### Variables
To store something in a programming language we use variables

In [4]:
a = 12
# 12 will get stored into the RAM and a will hold the address of 12

### Data Types

In [5]:
print(a)
print(type(a))

12
<class 'int'>

In [6]:
b = 3.10

In [7]:
print(type(b))

<class 'float'>

In [8]:
sub = "Data Science"

In [9]:
print(type(sub))

<class 'str'>

#### Things to remember:
- variables: are entities which are used to store data
- type(): gives its data type
- print(): displays the value inside it
- both type() and print() are functions
- some primitive data types in python: int, float, str

In [10]:
id(a) # this will print only in notebook

4342031224

In [11]:
a = 12
b = 12
c = 12.0
d = a

### Address of a Variable

In [12]:
print(id(a))
print(id(b))
print(id(c))
print(id(d))

4342031224
4342031224
4369631056
4342031224

In [13]:
a == b == d

True

In [14]:
a is b is d

True

In [15]:
a
b
c

12.0

In [16]:
a
print(b)
c

12

12.0

In [17]:
a
print(b)
print(c)

12
12.0

In [18]:
a
print(b)
c
print(d)

12
12

In [19]:
a, b, c, d

(12, 12, 12.0, 12)

In [20]:
id(12)

4342031224

### Comments and Multi-line comments

In [21]:
# Comments start with --> #

# Below is a multi-line comment or we can use it as Doc String
"""
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
"""

'''
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
This is Ultimate Data Science V2.0 batch
We are learning variables in this session
'''

'\nThis is Ultimate Data Science V2.0 batch\nWe are learning variables in this session\nThis is Ultimate Data Science V2.0 batch\nWe are learning variables in this session\nThis is Ultimate Data Science V2.0 batch\nWe are learning variables in this session\nThis is Ultimate Data Science V2.0 batch\nWe are learning variables in this session\nThis is Ultimate Data Science V2.0 batch\nWe are learning variables in this session\n'

### Naming Convention
- variable name can contain letters, digits or underscore (_)
    - bmi, person0, person_1, _person, id_1
- it should not start with a digit
- variable names are case-sensitive: hello, Hello, heLlo
- it should not be a Python keyword: print, type, id, if, else, for

### Flow of Python
- In Python execution happens from top to bottom and left to right
- In case of parenthesis it starts from the inner bracket and the last one is the outer bracket

In [22]:
mentor_name = "Monal Singh"
print(mentor_name)
value_1 = 100
print(500)
value_2 = 200
print(value_1)

Monal Singh
500
100

### Few More Data Types
- Boolean or Bool
    - stores True or False

In [23]:
is_visible = False
print(id(is_visible))
is_visible = True
print(id(is_visible))

4340941896
4340941864

### Type Casting
- Let's suppose we are having an int value variable and we want to convert it into float then type-casting is done

In [24]:
a = 1
type(a)

int

In [25]:
float(a)

1.0

In [26]:
print(a)
print(id(a))

1
4342030872

In [27]:
a = float(a)

In [28]:
print(type(a))
id(a)

<class 'float'>

4369638288

In [29]:
a = str(a)
print(a)
print(type(a))
print(id(a))

1.0
<class 'str'>
4370273728

In [30]:
print("Rubina")

Rubina

In [31]:
pi = 3.14
pi_int = int(pi)
print(pi_int)
print(type(pi_int))

3
<class 'int'>

In [32]:
bool_1 = True
bool_1_int = int(bool_1)
print(bool_1_int)
print(type(bool_1_int))

1
<class 'int'>

In [33]:
print(id(is_visible))
print(id(bool_1))

4340941864
4340941864

### Operators - 1

In [34]:
# Arithmetic Operators

In [35]:
2 + 2

4

In [36]:
a = 2
b = 2
c = a + b
print(c)

4

In [37]:
2 + "Data Science"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
2 - "Data Science"

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [39]:
print(2 * "Data Science\n")

Data Science
Data Science

In [40]:
2 + 2.0

4.0

In [41]:
# Modulus Operator
11 % 2

1

In [42]:
100 - 2

98

In [43]:
11 / 2 # division

5.5

In [44]:
11 // 2 # floor division

5

In [45]:
22 / 7

3.142857142857143